@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.App {
  text-align: center;
  width: 100%;
  margin-right: 0%;
  height: 1000px;
  overflow: hidden;
  background-color: white;
}
.modali {
  background-color: #182433;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #15db95;
}
#navigationBar {
  width: 100%;
  background-color: white;
  font-family: "Monserrat", sans-serif !important;
}
#content {
  height: 100%;
  width: 100%;
}
#suggest {
  background-color: #15db95 !important ;
}
.extra {
  background-color: #203044 !important;
  border-color: #15db95 !important;
  border-color: #ffffff;
  font-family: "Monserrat", sans-serif;
  border-radius: 0% !important;
}

#mainRow {
  height: 100%;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

#c1 {
  padding-left: 0;
  padding-right: 0;
}
#c2 {
  padding-left: 0;
  padding-right: 0;
  background-color: #182433;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #182433;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
